fastapi==0.115.5
uvicorn[standard]==0.32.1
flask==2.3.3
waitress==3.0.0
pandas==2.2.3
scikit-learn==1.5.2
xgboost==2.1.1
imbalanced-learn==0.12.4
nltk==3.9.1
spacy==3.8.4
vaderSentiment==3.3.2
wordcloud==1.9.4
matplotlib==3.9.2
seaborn==0.13.2
plotly==5.24.1
python-multipart==0.0.17
aiofiles==24.1.0
jinja2==3.1.4
joblib==1.4.2
nbformat==5.10.4
ipykernel==6.29.5